/* Examination number */

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: #4766B8;
    margin: 0;
	padding: 0; }

#page {
	width: 710px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 10px; }


#main{
	margin-left: 150px;
}

#footer{
	margin-top: .5ems;
	border-top: 2px solid gray;
	padding-top: .7ems;
	clear: left;
}
#banner {
    margin-bottom: 1em;
	height: 70px }

#navigation {
	margin-top: 1em;
	height: 45px;
	background-color: white; }
	
#sidebar {
	width: 150px;
	height: 370px;
	background-color: white;
	margin-bottom: .7em;
	float: left; 
} 
#sb{
	height: 350px;
	width: 150px;
}
#d{
	height: 85px;
	width: 300px;
}
#l{
	height: 56px;
	width: 560px ;
}

.copyright {
    font-size: 90%;
    text-align: right; 
	margin: 0; }
	
/* the styles for the table*/

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; }
	table{
		 
		border-collapse: collapse;
	}

td, th {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%; }	
	
.alignRight {
	text-align: right; }
#maleQuantity{
	width: 65px;
	padding-left: 5px;
}
#femaleQuantity{
	width: 65px;
	padding-left: 5px;
}

	/* Nusaibah Charif */
	/* console.log('Nusaibah Charif") */